@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
	box-sizing: border-box;
}

html, body {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0rem;
    display: none;
}

#ui-fixed {
	position: absolute;
	bottom: 0;
	padding: 0 15%;
	padding-bottom: 6%;
	width: 100%;
	color: white;
	font-family: sans-serif;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.speed {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	transform: rotateY(20deg) rotate(-3deg);
}

.distance {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	transform: rotateY(20deg) rotate(3deg);
}

h1 {
	font-size: 33px;
	font-weight: 600;
	text-shadow: rgb(0, 0, 0, 0.5) 0px 0px 15px;
}

h2 {
	font-size: 10px;
	font-weight: 400;
	margin-top: 0.10rem;
	text-shadow: rgb(0, 0, 0, 0.5) 0px 0px 15px;
}

canvas {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}